# Support notebook for Basic Protocol 2 
## Select a few samples from a database file

Based on @mhaghigh code

### Description
- This notebook is intended to download a sqlite/database from a [public S3 bucket called cellpainting-gallery](https://github.com/broadinstitute/cellpainting-gallery) (step 0). 
- After importing the libraries and downloading the database file, the next step can be **1a or 1b**:
    - 1a. import the whole database file using pycytominer (requires RAM memory > 40 GB for a database file of 11 GB).
    - 1b. import only a subset of samples based on a list of which wells to import.

### Instructions
- To reproduce the steps we performed for the paper, **run the cells for steps 0 and 1b** (only a subset of wells).

# 0. Import libraries

In [16]:
import pandas as pd
import numpy as np
from functools import reduce
import sqlite3
import pycytominer
import boto3
from pycytominer.cyto_utils.cells import SingleCells

# Download the files from s3 bucket

- Here we are downloanding specifically the file for one of the plates (SQ00015195) to use as an example for our paper.
- cellpainting-gallery is a public S3 bucket, so there is no need to provide credentials to download this file.
- This step will download the file into your local computer.

**ATTENTION: if you are using this notebook with a sqlite file that you already have in your local computer, skip to the next step.**

In [2]:
s3 = boto3.resource('s3')
bucket_name = "cellpainting-gallery"
bucket_dir = "cpg0004-lincs/broad/workspace/backend/2016_04_01_a549_48hr_batch1/SQ00015195/"
filename = 'SQ00015195.sqlite'
s3.meta.client.download_file(Filename=filename,Bucket=bucket_name,Key=bucket_dir + filename)

# 1a. Import database file

- This specific database file is available on cpg0004-lincs. More details to download see https://github.com/broadinstitute/cellpainting-gallery

## Provide the path

- Insert the path to the sqlite file downloaded in the last step.

In [4]:
path_local_sqlite_file = r"G:/My Drive/GitHub/2022_Garcia-Fossa_submitted/basic_protocol_2/notebook/support notebooks/"
filename = 'SQ00015195.sqlite'

## Use pycytominer to import the tables from the sql and merge to a single df

A few variables that you might want to change:

- strata: the default is ['Metadata_Plate', 'Metadata_Well']. You probably want to use the default if you just generated the sqlite from a CellProfiler pipeline.
- image_cols: the default is ["TableNumber", "ImageNumber", "Metadata_Site"]. You probably want to use the default if you just generated the sqlite from a CellProfiler pipeline.

In [ ]:
database = SingleCells(f"sqlite:///" + path_local_sqlite_file + filename, strata=['Image_Metadata_Plate', 'Image_Metadata_Well'], image_cols=["TableNumber", "ImageNumber", "Image_Metadata_Site"])
df = database.merge_single_cells()

# 1b. Import only a subset of wells

## Provide the path

- Insert the path to the sqlite file downloaded in the last step.

In [2]:
path_local_sqlite_file = r"G:/My Drive/GitHub/2022_Garcia-Fossa_submitted/basic_protocol_2/notebook/support notebooks/"
filename = 'SQ00015195.sqlite'

## Define which wells to retrieve from the dataset

In [3]:
conn = sqlite3.connect(path_local_sqlite_file + filename)

In [4]:
well_name = ["A02", "A07", "B07", "D19", "D21", "H13", "J19", "L19"]

channels = ["DNA","ER","RNA","AGP","Mito"]

## Retrieve image numbers from well's names

In [5]:
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res.fetchall():
    print(name[0])

Image
Cells
Cytoplasm
Nuclei

In [6]:
#get the names of each well as a list from well_name
rand_img_num=well_name.copy()

list_str="('"
for i in rand_img_num:
    list_str=list_str+str(i)+"','" 
list_str=list_str[:-2]+")"

print(list_str)

('A02','A07','B07','D19','D21','H13','J19','L19')

In [8]:
#define the name of the well
meta_well_col_str="Image_Metadata_Well"

In [9]:
#create a query with the compartment names to be able to retrieve them from the table
compartment_query = "select * from {} WHERE {} IN {};".\
format("Image",meta_well_col_str,list_str)

In [10]:
#select the metadata and image measurements from the Image table belonging to the wells you want
plateImageDf = pd.read_sql(sql=compartment_query, con=conn)

In [11]:
#get the ImageNumbers for the wells you want
img_nums=plateImageDf.ImageNumber.unique().tolist()

list_str2="("
for i in img_nums:
    list_str2=list_str2+str(i)+',' 
list_str2=list_str2[:-1]+")"

print(list_str2)

(10,11,12,13,14,15,16,17,18,55,56,57,58,59,60,61,62,63,271,272,273,274,275,276,277,278,279,810,811,812,813,814,815,816,817,818,828,829,830,831,832,833,834,835,836,1620,1621,1622,1623,1624,1625,1626,1627,1628,2106,2107,2108,2109,2110,2111,2112,2113,2114,2538,2539,2540,2541,2542,2543,2544,2545,2546)

In [12]:
#from the compartment names, open each table and retrieve information from the images on list_str2
plateDf_list=[]
compartments=["cells", "cytoplasm", "nuclei"]

for compartment in compartments:
    compartment_query = "select * from {} WHERE {} IN {};".format(compartment,"ImageNumber",list_str2)
    plateDf_list.append(pd.read_sql(sql=compartment_query, con=conn))

In [17]:
#create the dataframe from the Df_list 
plateDf = reduce(lambda left,right: pd.merge(left,right,on=["TableNumber", "ImageNumber", "ObjectNumber"]), plateDf_list)

In [18]:
#merge information from Image table with cells data
plateDfwMeta = pd.merge(plateDf, plateImageDf, on=["TableNumber", "ImageNumber"])

In [19]:
#exclude duplicated cols
plateDfwMeta = plateDfwMeta.loc[:,~plateDfwMeta.columns.duplicated()]

In [20]:
#create a copy
df_p_s0 = plateDfwMeta

In [21]:
#take a look at the dataframe
print(df_p_s0.shape)
df_p_s0.head()

(7577, 2442)

,TableNumber,ImageNumber,ObjectNumber,Cells_AreaShape_Area,Cells_AreaShape_Center_X,Cells_AreaShape_Center_Y,Cells_AreaShape_Compactness,Cells_AreaShape_Eccentricity,Cells_AreaShape_EulerNumber,Cells_AreaShape_Extent,...,Image_Width_IllumAGP,Image_Width_IllumDNA,Image_Width_IllumER,Image_Width_IllumMito,Image_Width_IllumRNA,Image_Width_OrigAGP,Image_Width_OrigDNA,Image_Width_OrigER,Image_Width_OrigMito,Image_Width_OrigRNA
0,1240fc906b760746bfaa4913fdb947b6,10,1,7334,642.0,0.0,1.196197,0.732293,1.0,0.622053,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
1,1240fc906b760746bfaa4913fdb947b6,10,2,7084,1952.0,1.0,1.288208,0.865021,1.0,0.572722,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
2,1240fc906b760746bfaa4913fdb947b6,10,3,13696,2159.0,40.0,1.116869,0.632134,1.0,0.689766,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
3,1240fc906b760746bfaa4913fdb947b6,10,4,9814,1123.0,36.0,1.147676,0.773804,1.0,0.702606,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
4,1240fc906b760746bfaa4913fdb947b6,10,5,16297,1672.0,78.0,1.071092,0.708822,1.0,0.691606,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160

## Save selected DataFrame to csv

In [19]:
df_p_s0.to_csv("SQ00015195_raw.csv")